/* user_login.php & user_signup.php */
/* Background color for log in and sign up */
.u_bcolor{background-color: #1a1a1a;}

/* user_signup.php */
/* Input fields for username and password and email*/
#signup-section .container .frm .un_input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* user_login.php */
/* input fields specs */
#login-section .container .frm .un_input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* user_login.php & user_signup.php */
/* Button Design of Login and and Sign up*/
.frmbtn {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* user_login.php */
/* This is the color of the login text in the Log in Button*/
#loginbtn{color:white;}

/* user_signup.php */
/* This is the color of the Sign in text in the Sign up button */
#signupbtn{color:white;}


/* user_login.php & user_signup.php */
/* When button is hovered effect */
/* The background color will be white when it is hovered */
.frmbtn:hover {background-color:white;}

/* user_login.php */
/* When Hovered the Login button*/
#loginbtn:hover {color:black;}

/* user_signup.php */
/* When Hovered the Sign up button */
#signupbtn:hover {color:black;}

/* user_login.php & user_signup.php */
/* center the Header in the form */
.header {text-align: center; font-size: 2em;}

/* user_login.php & user_signup.php */
/* The container which has the form */
.container {display: flex;justify-content: center;}

/* user_login.php & user_signup.php */
/* Subheading below the header */
.container p{text-align: center; font-size: 1em;}

/* user_login.php & user_signup.php */
/* The Design for the form */
.frm {
    width: 38%;
    padding: 50px;
    margin: auto;
    border-radius: 10px;
    background-color: #bf4040;
  
}

/* user_login.php */
/* Footer in the form, Put the admin login to the right */
/* This is for the Click to Log in as admin text */
#login-section .container .frm #adm{float: right;}

/* user_login.php */
/* Color of the text */
#login-section .container .frm #adm .link{color: black;}

/* user_login.php */
/* Color of the text turns white when covered */
#login-section .container .frm #adm .link:hover{color:white;}

/* user_login.php & user_signup.php */
/* This is the color of the text in sign up of the link */
.link {color: black;}

/* user_login.php & user_signup.php */
/* This is the color of the text in the sign up of the link when hovered */
.link:hover{color:white;}

/* user_login.php */
#login-section{
    margin: 10px;
    padding: 20px;
    align-items: center;
  
}

/* user_signup.php */
#signup-section{
    margin: 10px;
    padding: 20px;
    align-items: center;
  
  }


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
}
